/* html,body{
    margin-top:10%;
    margin-left:30%;} */

.container{
    width:20%;
    
    margin-left:10%;
}

#bulb{
    margin-left: 20%;
}
.btn{
    padding:2%;
    margin-left:10%;

}
.press{
    background-color: rgb(146, 146, 184);
    margin-left: 15%;

}



