html ,body{
    margin-top:10% ;
    margin-left:25% ;
}
h2{
    color:rgb(33, 31, 28);
    margin-left: 2%;
    font-style: italic;
}
.btn{
    padding:1%;    
}
.style1{
    background-color: red;
}
.style2{
     background-color: blue;
}
.style3{
      background-color: orange;
}
.style4{
      background-color:green;
}
